html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-box {
    background-color: #325d88;
    font-size: 65px;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.table1 {
    background-color: #8e8c84;
    color: white;
    --bs-table-striped-bg: #7a7972;
    --bs-table-striped-color: white;
}