@page
@model TravelPortal.Pages.CareersModel
@{
    var CareersID = HttpContext.Request.Query["OID"];
}
<h2 id="Position" style="visibility: hidden;"><span></span></h2>
<div id="Wage" style="visibility: hidden;"></div>

<script type="module">
    displayCareersDetails(@CareersID)
</script>

<h2 class ="display-4 custom-box2">Careers On The Road</h2>

<h4>
    If you are considering career opportunities behind the wheel, then you have come to the right place!
</h4>
<p>
    On this page, you will find all of the lucrative job listings that we currently have available along with location details.
</p>

<hr />

<h3>
    What companies can I try to apply for?
</h3>
<p>
    Rest assured, there are plenty of well known companies that offer jobs that you can qualify for. Some of the more popular
    options that you could consider are here in the following list:
</p>

<dl>
    <dt>Door Dash</dt>
    <dd></dd>
    <dt>Grub Hub</dt>
    <dd></dd>
    <dt>Uber</dt>
    <dd></dd>
    <dt>Penske Truck Driver</dt>
    <dd></dd>
    <dt>Pizza Hut Delivery Driver</dt>
    <dd></dd>
    
</dl>