@page
@model TravelPortal.Pages.CareersModel
@{
    var OccupationID = HttpContext.Request.Query["OccupationID"];
}
<h2 id="Position" style="visibility: hidden;"><span></span></h2>
<div id="Wage" style="visibility: hidden;"></div>

<script type="module">
    displayOccupationDetails("@OccupationID")
</script>

<h2 class ="display-4 custom-box2">Careers On The Road</h2>

<h4>
    If you are considering career opportunities behind the wheel, then you have come to the right place!
</h4>
<p>
    On this page, you will find all of the lucrative job listings that we currently have available along with location details.
</p>

<hr />

<h3>
    What companies can I try to apply for?
</h3>
<p>
    Rest assured, there are plenty of well known companies that offer jobs that you can qualify for. Some of the more popular
    options that you could consider are here in the following list:
</p>

<dl>
    <dt>Door Dash</dt>
    <dd>As a dasher, you are a contract food delivery driver who works to deliver food from restaurants and stores to customers.</dd>
    <dt>Fisher Auto Parts Delivery Driver</dt>
    <dd>Delivery drivers will deliver parts to assigned locations/customers.</dd>
    <dt>Uber</dt>
    <dd>An Uber driver's role is getting passengers from point A to point B. Just like a taxi or bus driver, an Uber driver provides 
        quick, safe rides to customers. </dd>
    <dt>Penske Truck Driver</dt>
    <dd>Penske truck drivers transport items from local distribution outlets to retailers or production facilities and returning home daily.</dd>
    <dt>Pizza Hut Delivery Driver</dt>
    <dd>Aside from delivering food, you will be responsible for taking inventory, processing paperwork, and maintaining your assigned 
        delivery vehicle.</dd>
</dl>