@page
@model TravelPortal.Pages.CareersModel
@{
    var CareersID = HttpContext.Request.Query["CareersID"];
}
<h2 id="CareersName" style="visibility: hidden;"><span></span></h2>
<div id="CareersAddress" style="visibility: hidden;"></div>
<div id="CareersContact" style="visibility: hidden;"></div>

<script type="module">
    displayCareersDetails(@CareersID)
</script>

<h2>Careers On The Road</h2>
<p>
    If you are considering career opportunities behind the wheel, then you have come to the right place! On this page,
    you will find all of the job listings that we currently have available along with location details.
</p>