@page
@model TravelPortal.Pages.DriverInfoModel
@{
  
}

<h2 class="display-4 custom-box2">Driver Information</h2>

<h4>
    Scout for workers, or get recognized for potential job offers!
</h4>
<p>
    If you are a potential employer, here you can view drivers, their organizations, and other relevant information. As an employer,
    you can also view your employees statistics and performance.

    Drivers who haven't found a job yet can also post their information on here for potential employers to view.
</p>

<hr />