@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 custom-box">Travel Portal</h1>
    <p>
        The main purpose of this website is to act as an all-in-one portal for driving occupations.
        Whether you wish to find a <a asp-area="" asp-page="/Careers">job as a driver</a>, 
        check for <a asp-area="" asp-page="/Careers">rest stops</a> in your area, 
        or even check what the <a asp-area="" asp-page="/Careers">weather</a> will be like wherever you are traveling, 
        we have you covered!
    </p>
</div>

<br />

<div class="text-allign: left">
    <h2>How does this site work?</h2>
    <p>
        Application Programming Interfaces are utilized to deliver an enjoyable and efficient experience 
        to the user to best suit their needs for whatever their endeavors may be.
    </p>

    <p>
        A plethora of climate data is also pulled from various regions along with supply and demand data to show the correlation 
        between climate conditions and a driver's success.
    </p>

<br />

<div class="text-allign: left">
    <h2>How can analyzing climate data be useful when considering driving occupations?</h2>
    <p>
        Climate data can not only indicate the probability of different levels of supply and demand of various geographic locations, 
        but it can also help point towards how profitable drivers can be in those different locations.
    </p>
</div>

    <table id="dataTable" class="table-bordered table-striped table table1">
        <thead>
            <tr>
                <th>
                    Climate
                </th>
                <th>
                    Supply
                </th>
                <th>
                    Demand
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Cold
                </td>
                <td>
                    Low
                </td>
                <td>
                    High
                </td>
            </tr>

            <tr>
                <td>
                    Warm
                </td>
                <td>
                    Average
                </td>
                <td>
                    Average
                </td>
            </tr>

            <tr>
                <td>
                    Hot
                </td>
                <td>
                    High
                </td>
                <td>
                    Low
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br />

    <dl>
        <dt>Cold Climates</dt>
            <dd>Icy roads and other hazardous driving conditions are more prevalent, causing an increase in people who choose to stay at home.</dd>
        <dt>Warm Climates</dt>
            <dd>Levels of business are carried out with little to no change in either supply or demand of drivers.</dd>
        <dt>Hot Climates</dt>
            <dd>There is lower demand under these climate conditions as people are generally out and about in hotter weather.</dd>
    </dl>
