@page
@model TravelPortal.Pages.MapModel
@{
}

<h2 class="display-4 custom-box2">Our Ultimate Travel Guide</h2>

<h4>
    Our map is your ultimate travel companion.
</h4>
<p>
    Whether you wish to check what the weather will be like during your travels, or if you wish to find the best routes to your 
    destination, look no further!
</p>

<hr />