@page
@model TravelPortal.Pages.MapModel
@{
    var POI_State = HttpContext.Request.Query["POI_State"];
}

<h2 class="display-4 custom-box2">Our Ultimate Travel Guide</h2>


<h4>
    Our map is your ultimate travel companion.
</h4>
<p>
    Whether you wish to check what the weather will be like during your travels, or if you wish to find the best routes to your 
    destination, look no further!
</p>

<p>You can find multiple Points of Interest along your route! Our platform offers support for finding POIs such as:</p>

<dl>
    <dt>Rest Stops</dt>
    <dt>Gas Stations</dt>
    <dt>Major Cities</dt>
    <dt>National Parks</dt>
    <dt>Monuments</dt>
    <dt>...and more!</dt>
</dl>


<h2 id="POI_Name" style="visibility: hidden;"><span></span></h2>
<div id="POI_Add_Num" style="visibility: hidden;"></div>
<div id="POI_Street" style="visibility: hidden;"></div>
<div id="POI_City" style="visibility: hidden;"></div>
<div id="POI_State" style="visibility: hidden;"></div>
<div id="POI_ZIP" style="visibility: hidden;"></div>

<script type="module">
    displayPOIDetails("@POI_State")
</script>

