@page
@model TravelPortal.Pages.PartLibraryModel
@{
}

<h2 class="display-4 custom-box2">Vehicle Parts You Can Trust</h2>

<h4>
    If you are in need of repairs, we have you covered!
</h4>
<p>
    Here you will find trustworthy and reliable vehicle parts for any repair you can possibly need.
</p>

<hr />