@page
@model TravelPortal.Pages.RegistrationModel
@{
}
<h2>Register Here: </h2>

<div class="alert alert-danger">
    <strong>ATTENTION: </strong> We're Sorry, our registration system is currently undergoing maintenance. Check back later :(
</div>

<form id="signup">
    <label for="First">First Name:</label>
    <input type="text" id="first" name="FirstName" required><br>

    <label for="Last">Last Name:</label>
    <input type="text" id="last" name="LastName" required><br>

    <label for="Email">E-Mail:</label>
    <input type="text" id="email" name="EMail" required><br>

    <label for="Username">Username:</label>
    <input type="text" id="user" name="Useranme" required><br>

    <label for="Password">Password:</label>
    <input type="text" id="pass" name="Password" required><br>

    <button type="submit">Submit</button>
</form>