@page
@model TravelPortal.Pages.Shared.ResultsModel
@{
}
<h2 class="display-4 custom-box2">Entensive Information About Your Vehicle</h2>

<h4>
    Information stored for all vehicles!
</h4>
<p>
    Here you will find details regarding all makes and models of vehicles in our sysetm. 
</p>
</p>