
@page
@model TravelPortal.Pages.Shared.ResultsModel
@{
}
<h2 class="display-4 custom-box2">Entensive Information About Your Vehicle</h2>
  
<h5>
    If you are looking up information about your vehicle you can start by putting in the make or model below, as well as selecting the year. 
</h5>

</p>
<select name="trvDrop">
    <option value="1">Select year: </option>
    <option value="1">2010</option>
    <option value="2">2011</option>
    <option value="3">2012</option>
    <option value="3">2013</option>
    <option value="3">2014</option>
    <option value="3">2015</option>
    <option value="3">2016</option>
    <option value="3">2017</option>
    <option value="3">2018</option>
    <option value="3">2019</option>
    <option value="3">2020</option>
    <option value="3">2021</option>
    <option value="3">2022</option>
    <option value="3">2023</option>
    <option value="3">2024</option>
    <option value="3">2025</option>

<input type="text" id="locInp" name="location"
       class="form-control" value="Enter Vehicle Make" />

<input type="text" id="locInp" name="location"
       class="form-control" value="Enter Vehicle Model" />

    <h5>
        If you do not know this information about your vehicle, please refer to the following prompts as we try and find your vehicle details.
    </h5>

    <input type="text" id="locInp" name="location"
           class="form-control" value="Enter the phone number associated with your account " />

    <input type="text" id="locInp" name="location"
           class="form-control" value="Enter user id associated with the account " />


    <form action="/Results" method="get">
        <input type="submit" id="submitBtn" value="Get my part!" class="btn btn-primary"  />
    </form>

